.header__lang-link {
    max-width: 30px;
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    padding: 0 0 0 0;
    transition: 0.4s;
}

.header__lang-link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 320px) {
    .header__lang-link {
        max-width: 22px;
        font-size: 18px;
        line-height: 20px;
    }
}