.page {
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:'inter' , Arial, sans-serif;
    color: #ffffff;
    background: #2A2C2F;
    margin: 0 auto 0 auto;
}
