.photo-grid {
    max-width: 1184px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 284px);
    grid-template-rows: repeat(auto-fill, 213px);
    grid-auto-rows: 213px;
    gap: 16px;
    margin: 0;
    padding: 0 0 92px 0;
}

.photo-grid:nth-last-of-type(4) {
    gap: 0;
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        max-width: 928px;
        grid-template-columns: repeat(auto-fill, 300px);
        grid-template-rows: repeat(auto-fill, 225px);
        grid-auto-rows: 225px;
        gap: 14px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        max-width: 720px;
        grid-template-columns: repeat(auto-fill, 352px);
        grid-template-rows: repeat(auto-fill, 264px);
        grid-auto-rows: 264px;
        gap: 16px;
        padding-bottom: 88px;
    }
}

@media screen and (max-width: 695px) {
    .photo-grid {
        max-width:360px;
        grid-template-columns: repeat(auto-fill, 360px);
        grid-template-rows: repeat(auto-fill, 280px);
        grid-auto-rows: 280px;
    }
}

@media screen and (max-width: 525px) {
    .photo-grid{
       max-width: 355px;
    }
 }

 @media screen and (max-width: 420px) {
    .photo-grid {
        max-width: 300px;
        grid-template-columns: repeat(auto-fill, 300px);
        grid-template-rows: repeat(auto-fill, 230px);
        grid-auto-rows: 230px;
        gap: 14px;
    }
 }

@media screen and (max-width: 320px) {
    .photo-grid {
        max-width: 288px;
        grid-template-columns: repeat(auto-fill, 288px);
        grid-template-rows: repeat(auto-fill, 216px);
        grid-auto-rows: 216px;
        gap: 12px;
        padding-bottom: 68px;
    }   
}
