.place__image {
    max-width: 460px;
    width: 100%;
    object-fit: contain;
    margin-right: 40px;
}

@media screen and (max-width: 1024px) {
    .place__image {
        max-width: 440px;
        margin-right: 32px;
    }
}

@media screen and (max-width: 883px) {
    .place__image {
        max-width: 350px;
        margin-right: 30px;
    }
}

@media screen and (max-width: 768px) {
    .place__image {
        max-width: 330px;
        margin-right: 28px;
    }
}

@media screen and (max-width:695px) {
    .place__image {
        max-width: 460px;
        margin-bottom: 40px;
        margin-right: 0;
    }
}


@media screen and (max-width: 320px) {
    .place__image {
        max-width: 320px;
        margin-bottom: 32px;
    }   
}