.header__lang {
    max-width: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 320px) {
    .header__lang {
        max-width: 62px;
    }   
}