.footer__links {
    box-sizing: content-box;
}

@media screen and (max-width: 525px) {
    .footer__links {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 48px;
        text-align: center;
    }
 }

@media screen and (max-width: 320px) {
    .footer__links {
        text-align: start;
    }   
}