.place__website-link {
    text-decoration: none;
    color: #ffffff;
    transition: 0.4s;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    text-decoration-line: underline;
}

.place__website-link:hover {
    opacity: 0.8;
}